@utility action-fill-* {
    background-color: color-mix(in oklab, --value(--color-*, [color]) 100%, transparent);
    backdrop-filter: blur(18px);
    color: white;

    border: none;
    box-shadow: transparent;
}