@layer mosuk-ui {
    @layer index-10 {
        .text {
            font-size: var(--text-sm, 0.875rem);
            line-height: var(--leading-relaxed, 1.625);

            transition: all 200ms ease-in-out;

            &:not(:hover) {
                transition: all 600ms ease-in-out;
            }

            &[style*="max-height"],
            &[class*="max-h-"] {
                overflow: hidden;

                display: -webkit-box;
                -webkit-box-orient: vertical;

                text-overflow: ellipsis;
                -webkit-line-clamp: var(--max-lines);
            }
        }
    }
}