@layer mosuk-ui {
    @layer index-17 {
        .backdrop {
            position: fixed;
            inset: 0;
            z-index: 200;

            background-color: rgba(0, 0, 0, calc(var(--progress, 0) * 0.025));
            backdrop-filter: blur(calc(var(--progress, 0) * 4px));

            transition: all 300ms ease-in-out;

            &.dragging {
                transition: all 0ms;
            }
        }

        .dialog {
            overflow: hidden;

            position: fixed;
            inset: 0;
            z-index: 200;

            width: 100%;
            height: fit-content;
            max-height: calc(100% - calc(var(--spacing, 0.25rem) * 16));

            background-color: rgba(255, 255, 255, 1);
            backdrop-filter: blur(8px);

            margin: auto auto 0 auto;
            border: 1px solid var(--color-gray-100, oklch(0.967 0.003 264.542));
            border-top-left-radius: var(--radius-2xl, 1rem);
            border-top-right-radius: var(--radius-2xl, 1rem);
            outline: none;

            box-shadow: 0 25px 50px -12px rgba(243, 244, 246, var(--tw-shadow-alpha, 0.5));

            transform: translateY(calc((1 - var(--progress, 0)) * 100%));
            transition: all 300ms ease-in-out;

            &::-webkit-scrollbar {
                display: none;
            }

            .gesture {
                position: fixed;
                inset: 0;
                z-index: 202;

                width: calc(var(--spacing, 0.25rem) * 40);
                height: calc(var(--spacing, 0.25rem) * 8);

                margin-left: auto;
                margin-right: auto;

                outline: none;
                touch-action: none;
                user-select: none;
                cursor: grab;

                .line {
                    display: block;

                    width: calc(var(--spacing, 0.25rem) * 20);
                    height: calc(var(--spacing, 0.25rem) * 0.75);

                    background-color: var(--color-gray-300, oklch(0.872 0.01 258.338));

                    margin-top: calc(var(--spacing, 0.25rem) * 1.75);
                    margin-left: auto;
                    margin-right: auto;
                    border-radius: 9999px;

                    transition: all 0.2s ease-in-out;
                }

                &:hover {
                    .line {
                        background-color: var(--color-gray-400, oklch(0.707 0.022 261.325));
                    }
                }

                &:not(:hover) {
                    .line {
                        transition: all 600ms ease-in-out;
                    }
                }
            }

            .header {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 201;

                display: block;

                width: 100%;

                background-color: rgba(255, 255, 255, 0.7);
                backdrop-filter: blur(12px);

                padding: calc(var(--spacing, 0.25rem) * 3) calc(var(--spacing, 0.25rem) * 4);
                border-bottom: 1px solid var(--color-gray-100, oklch(0.967 0.003 264.542));
            }

            .body {
                overflow-x: hidden;
                overflow-y: auto;

                display: block;

                height: fit-content;
                max-height: calc(var(--window-height, 100vh) - calc(var(--spacing, 0.25rem) * 16));

                padding: calc(var(--spacing, 0.25rem) * 4) calc(var(--spacing, 0.25rem) * 2) calc(var(--spacing, 0.25rem) * 4);
                margin: 0 calc(var(--spacing, 0.25rem) * 2);

                &::-webkit-scrollbar {
                    width: calc(var(--spacing, .25rem) * 1);
                }

                &::-webkit-scrollbar-track {
                    margin: calc(var(--header-height, 0px) + var(--spacing, 0.25rem) * 4 + var(--spacing, 0.25rem) * 4) calc(var(--spacing, 0.25rem) * 4) calc(var(--footer-height, 0px) + var(--spacing, 0.25rem) * 4 + var(--spacing, 0.25rem) * 4);
                }
            }

            .footer {
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 201;

                display: block;

                width: 100%;

                background-color: rgba(255, 255, 255, 0.7);
                backdrop-filter: blur(12px);

                padding: calc(var(--spacing, 0.25rem) * 4);
                border-top: 1px solid var(--color-gray-100, oklch(0.967 0.003 264.542));
            }

            &.dragging {
                transition: all 0ms;
            }

            &:has(.header) {
                .body {
                    padding-top: calc(var(--header-height, 0px) + var(--spacing, 0.25rem) * 4);
                }
            }

            &:has(.footer) {
                .body {
                    padding-bottom: calc(var(--footer-height, 0px) + var(--spacing, 0.25rem) * 4);
                }
            }
        }

        @media (min-width: 1025px) {
            .dialog {
                max-width: var(--container-lg, 512px);
                max-height: calc(100% - calc(var(--spacing, 0.25rem) * 32));

                margin: auto;
                border-radius: var(--radius-3xl, 1.5rem);

                scale: calc((0.8 + (var(--progress, 0)) * 0.2));
                opacity: calc((0 + (var(--progress, 0)) * 1));

                transform: unset;

                .gesture {
                    display: none;
                    opacity: 0;
                }

                .header {
                    padding: calc(var(--spacing, 0.25rem) * 4) calc(var(--spacing, 0.25rem) * 4);
                }

                .body {
                    max-height: calc(var(--window-height, 100vh) - calc(var(--spacing, 0.25rem) * 32));

                    padding: calc(var(--spacing, 0.25rem) * 4) calc(var(--spacing, 0.25rem) * 2) calc(var(--spacing, 0.25rem) * 4);
                    margin: 0 calc(var(--spacing, 0.25rem) * 2);
                }

                .footer {
                    padding: calc(var(--spacing, 0.25rem) * 4) calc(var(--spacing, 0.25rem) * 4);
                }

                &:has(.header) {
                    .body {
                        padding-top: calc(var(--header-height, 0px) + var(--spacing, 0.25rem) * 7);
                    }
                }

                &:has(.footer) {
                    .body {
                        padding-bottom: calc(var(--footer-height, 0px) + var(--spacing, 0.25rem) * 7);
                    }
                }
            }
        }
    }
}