@utility button-* {
    height: calc(var(--spacing, 0.25rem) * --value(integer));

    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(var(--spacing, 0.25rem) * 0.25 * --value(integer));

    font-size: calc(var(--spacing, 0.25rem) * 0.375 * --value(integer));
    font-weight: 500;
    text-wrap: nowrap;

    padding-left: calc(var(--spacing, 0.25rem) * 0.5 * --value(integer));
    padding-right: calc(var(--spacing, 0.25rem) * 0.5 * --value(integer));
    border-radius: calc(infinity * 1px);
    outline: none;

    transition: all 200ms ease-in-out;

    & :where(svg) {
        width: calc(var(--spacing, 0.25rem) * 0.5 * --value(integer));
        height: calc(var(--spacing, 0.25rem) * 0.5 * --value(integer));
        min-width: calc(var(--spacing, 0.25rem) * 0.5 * --value(integer));
        min-height: calc(var(--spacing, 0.25rem) * 0.5 * --value(integer));

        transition: all 200ms ease-in-out;
    }
}