@layer mosuk-ui {
    @layer containers {
        @layer layer-1 {

            /* ? Grid */
            .grid {
                display: grid;
                grid-template-columns: repeat(2, minmax(0, 1fr));
                gap: calc(var(--spacing, .25rem) * 2);
            }

            /* ? Tablet */
            @media (min-width: 640px) and (max-width: 1023px) {
                .grid {
                    display: grid;
                    grid-template-columns: repeat(3, minmax(0, 1fr));
                    gap: calc(var(--spacing, .25rem) * 4);
                }
            }

            /* ? Desktop */
            @media (min-width: 1024px) {
                .grid {
                    display: grid;
                    grid-template-columns: repeat(4, minmax(0, 1fr));
                    gap: calc(var(--spacing, .25rem) * 4);
                }
            }
        }
    }
}