@reference "tailwindcss";

/* ! Sizes */
@utility textarea-xs {
    width: 100%;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: var(--radius-2xl, 1rem);
    outline: none;
    transition: all 0.2s ease-in-out;
}
 
@utility textarea-sm {
    width: 100%;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    font-size: 0.875rem;
    border-radius: var(--radius-2xl, 1rem);
    outline: none;
    transition: all 0.2s ease-in-out;
}

@utility textarea-base {
    width: 100%;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: var(--radius-2xl, 1rem);
    outline: none;
    transition: all 0.2s ease-in-out;
}

@utility textarea-md {
    width: 100%;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: var(--radius-2xl, 1rem);
    outline: none;
    transition: all 0.2s ease-in-out;
}

@utility textarea-lg {
    width: 100%;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: var(--radius-2xl, 1rem);
    outline: none;
    transition: all 0.2s ease-in-out;
}

/* ! Styles */
@utility textarea-transparent-black {
    background-color: transparent;
    color: var(--color-black);    
}

@utility textarea-transparent-red-500 {
    background-color: transparent;
    color: var(--color-red-500);    
}

@utility textarea-transparent-orange-500 {
    background-color: transparent;
    color: var(--color-orange-500);    
}

@utility textarea-transparent-yellow-500 {
    background-color: transparent;
    color: var(--color-yellow-500);    
}

@utility textarea-transparent-green-500 {
    background-color: transparent;
    color: var(--color-green-500);    
}

@utility textarea-transparent-primary-500 {
    background-color: transparent;
    color: var(--color-primary-500);    
}

@utility textarea-outline-gray-100 {
    background-color: white;
    color: var(--color-black);
    border: 1px solid var(--color-gray-100);    
}

@utility textarea-outline-gray-200 {
    background-color: white;
    color: var(--color-black);
    border: 1px solid var(--color-gray-200);    
}

@utility textarea-outline-gray-300 {
    background-color: white;
    color: var(--color-black);
    border: 1px solid var(--color-gray-300);    
}

@utility textarea-outline-gray-400 {
    background-color: white;
    color: var(--color-black);
    border: 1px solid var(--color-gray-400);    
}

@utility textarea-outline-gray-500 {
    background-color: white;
    color: var(--color-black);
    border: 1px solid var(--color-gray-500);    
}

@utility textarea-outline-gray-600 {
    background-color: white;
    color: var(--color-black);
    border: 1px solid var(--color-gray-600);    
}

@utility textarea-outline-red-100 {
    background-color: white;
    color: var(--color-red-500);
    border: 1px solid var(--color-red-100);    
}

@utility textarea-outline-red-200 {
    background-color: white;
    color: var(--color-red-500);
    border: 1px solid var(--color-red-200);    
}

@utility textarea-outline-red-300 {
    background-color: white;
    color: var(--color-red-500);
    border: 1px solid var(--color-red-300);    
}

@utility textarea-outline-red-400 {
    background-color: white;
    color: var(--color-red-500);
    border: 1px solid var(--color-red-400);    
}

@utility textarea-outline-red-500 {
    background-color: white;
    color: var(--color-red-500);
    border: 1px solid var(--color-red-500);    
}

@utility textarea-outline-red-600 {
    background-color: white;
    color: var(--color-red-600);
    border: 1px solid var(--color-red-600);    
}

@utility textarea-outline-orange-100 {
    background-color: white;
    color: var(--color-orange-500);
    border: 1px solid var(--color-orange-100);    
}

@utility textarea-outline-orange-200 {
    background-color: white;
    color: var(--color-orange-500);
    border: 1px solid var(--color-orange-200);    
}

@utility textarea-outline-orange-300 {
    background-color: white;
    color: var(--color-orange-500);
    border: 1px solid var(--color-orange-300);    
}

@utility textarea-outline-orange-400 {
    background-color: white;
    color: var(--color-orange-500);
    border: 1px solid var(--color-orange-400);    
}

@utility textarea-outline-orange-500 {
    background-color: white;
    color: var(--color-orange-500);
    border: 1px solid var(--color-orange-500);    
}

@utility textarea-outline-orange-600 {
    background-color: white;
    color: var(--color-orange-600);
    border: 1px solid var(--color-orange-600);    
}

@utility textarea-outline-yellow-100 {
    background-color: white;
    color: var(--color-yellow-500);
    border: 1px solid var(--color-yellow-100);    
}

@utility textarea-outline-yellow-200 {
    background-color: white;
    color: var(--color-yellow-500);
    border: 1px solid var(--color-yellow-200);    
}

@utility textarea-outline-yellow-300 {
    background-color: white;
    color: var(--color-yellow-500);
    border: 1px solid var(--color-yellow-300);    
}

@utility textarea-outline-yellow-400 {
    background-color: white;
    color: var(--color-yellow-500);
    border: 1px solid var(--color-yellow-400);    
}

@utility textarea-outline-yellow-500 {
    background-color: white;
    color: var(--color-yellow-500);
    border: 1px solid var(--color-yellow-500);    
}

@utility textarea-outline-yellow-600 {
    background-color: white;
    color: var(--color-yellow-600);
    border: 1px solid var(--color-yellow-600);    
}

@utility textarea-outline-green-100 {
    background-color: white;
    color: var(--color-green-500);
    border: 1px solid var(--color-green-100);    
}

@utility textarea-outline-green-200 {
    background-color: white;
    color: var(--color-green-500);
    border: 1px solid var(--color-green-200);    
}

@utility textarea-outline-green-300 {
    background-color: white;
    color: var(--color-green-500);
    border: 1px solid var(--color-green-300);    
}

@utility textarea-outline-green-400 {
    background-color: white;
    color: var(--color-green-500);
    border: 1px solid var(--color-green-400);    
}

@utility textarea-outline-green-500 {
    background-color: white;
    color: var(--color-green-500);
    border: 1px solid var(--color-green-500);    
}

@utility textarea-outline-green-600 {
    background-color: white;
    color: var(--color-green-600);
    border: 1px solid var(--color-green-600);    
}

@utility textarea-outline-primary-100 {
    background-color: white;
    color: var(--color-primary-500);
    border: 1px solid var(--color-primary-100);    
}

@utility textarea-outline-primary-200 {
    background-color: white;
    color: var(--color-primary-500);
    border: 1px solid var(--color-primary-200);    
}

@utility textarea-outline-primary-300 {
    background-color: white;
    color: var(--color-primary-500);
    border: 1px solid var(--color-primary-300);    
}

@utility textarea-outline-primary-400 {
    background-color: white;
    color: var(--color-primary-500);
    border: 1px solid var(--color-primary-400);    
}

@utility textarea-outline-primary-500 {
    background-color: white;
    color: var(--color-primary-500);
    border: 1px solid var(--color-primary-500);    
}

@utility textarea-outline-primary-600 {
    background-color: white;
    color: var(--color-primary-600);
    border: 1px solid var(--color-primary-600);    
}

@utility textarea-fill-gray-100 {
    background-color: var(--color-gray-100);
    color: var(--color-gray-700);    
}

@utility textarea-fill-gray-200 {
    background-color: var(--color-gray-200);
    color: var(--color-gray-900);    
}

@utility textarea-fill-gray-300 {
    background-color: var(--color-gray-300);
    color: var(--color-black);    
}

@utility textarea-fill-gray-400 {
    background-color: var(--color-gray-400);
    color: white;    
}

@utility textarea-fill-gray-500 {
    background-color: var(--color-gray-500);
    color: white;    
}

@utility textarea-fill-gray-600 {
    background-color: var(--color-gray-600);
    color: white;    
}

@utility textarea-fill-red-100 {
    background-color: var(--color-red-100);
    color: var(--color-red-500);    
}

@utility textarea-fill-red-200 {
    background-color: var(--color-red-200);
    color: var(--color-red-700);    
}

@utility textarea-fill-red-300 {
    background-color: var(--color-red-300);
    color: var(--color-red-900);    
}

@utility textarea-fill-red-400 {
    background-color: var(--color-red-400);
    color: white;    
}

@utility textarea-fill-red-500 {
    background-color: var(--color-red-500);
    color: white;    
}

@utility textarea-fill-red-600 {
    background-color: var(--color-red-600);
    color: white;    
}

@utility textarea-fill-orange-100 {
    background-color: var(--color-orange-100);
    color: var(--color-orange-500);
}

@utility textarea-fill-orange-200 {
    background-color: var(--color-orange-200);
    color: var(--color-orange-700);
}

@utility textarea-fill-orange-300 {
    background-color: var(--color-orange-300);
    color: var(--color-orange-900);
}

@utility textarea-fill-orange-400 {
    background-color: var(--color-orange-400);
    color: white;
}

@utility textarea-fill-orange-500 {
    background-color: var(--color-orange-500);
    color: white;
}

@utility textarea-fill-orange-600 {
    background-color: var(--color-orange-600);
    color: white;
}

@utility textarea-fill-yellow-100 {
    background-color: var(--color-yellow-100);
    color: var(--color-yellow-500);
}

@utility textarea-fill-yellow-200 {
    background-color: var(--color-yellow-200);
    color: var(--color-yellow-700);
}

@utility textarea-fill-yellow-300 {
    background-color: var(--color-yellow-300);
    color: var(--color-yellow-900);
}

@utility textarea-fill-yellow-400 {
    background-color: var(--color-yellow-400);
    color: white;
}

@utility textarea-fill-yellow-500 {
    background-color: var(--color-yellow-500);
    color: white;
}

@utility textarea-fill-yellow-600 {
    background-color: var(--color-yellow-600);
    color: white;
}

@utility textarea-fill-green-100 {
    background-color: var(--color-green-100);
    color: var(--color-green-500);
}

@utility textarea-fill-green-200 {
    background-color: var(--color-green-200);
    color: var(--color-green-700);
}

@utility textarea-fill-green-300 {
    background-color: var(--color-green-300);
    color: var(--color-green-900);
}

@utility textarea-fill-green-400 {
    background-color: var(--color-green-400);
    color: white;
}

@utility textarea-fill-green-500 {
    background-color: var(--color-green-500);
    color: white;
}

@utility textarea-fill-green-600 {
    background-color: var(--color-green-600);
    color: white;
}

@utility textarea-fill-primary-100 {
    background-color: var(--color-primary-100);
    color: var(--color-primary-500);
}

@utility textarea-fill-primary-200 {
    background-color: var(--color-primary-200);
    color: var(--color-primary-700);
}

@utility textarea-fill-primary-300 {
    background-color: var(--color-primary-300);
    color: var(--color-primary-900);
}

@utility textarea-fill-primary-400 {
    background-color: var(--color-primary-400);
    color: white;
}

@utility textarea-fill-primary-500 {
    background-color: var(--color-primary-500);
    color: white;
}

@utility textarea-fill-primary-600 {
    background-color: var(--color-primary-600);
    color: white;
}