@layer mosuk-ui {
    @layer texts {
        @layer layer-1 {
            .h2 {
                display: block;

                width: 100%;

                font-size: 1.125rem;
                text-align: start;
                line-height: 0;

                .text {
                    display: inline-flex;

                    width: 100%;
                    height: 1.2;
                    min-height: 1.2em;

                    line-height: 0;

                    border-radius: calc(infinity * 1px);
                }

                &:has(.icon) {
                    .icon {
                        display: inline-flex;

                        width: calc(var(--spacing, .25rem) * 9);
                        height: calc(var(--spacing, .25rem) * 9);
                        min-width: calc(var(--spacing, .25rem) * 9);
                        min-height: calc(var(--spacing, .25rem) * 9);

                        font-size: var(--text-base, 1rem);

                        padding: calc(var(--spacing, .25rem) * 2.5);
                    }

                    .text {
                        display: inline-flex;

                        width: 50%;
                        max-width: calc(100% - calc(var(--spacing, .25rem) * 9) - calc(var(--spacing, .25rem) * 2.5));

                        line-height: var(--leading-relaxed, 1.625);
                        vertical-align: top;

                        margin-top: 0.25em;
                        margin-left: calc(var(--spacing, .25rem) * 2.5);
                    }
                }
            }
        }
    }
}