@layer mosuk-ui {
    @layer index-16 {
        .tabbar {
            position: fixed;
            top: auto;
            right: calc(var(--spacing, .25rem) * 2);
            bottom: calc(var(--spacing, .25rem) * 2);
            left: calc(var(--spacing, .25rem) * 2);
            z-index: 100;

            width: calc(100% - calc(var(--spacing, .25rem) * 4));
            height: calc(var(--spacing, .25rem) * 16);

            background-color: rgba(255, 255, 255, 0.95);
            backdrop-filter: blur(12px);

            padding: calc(var(--spacing, .25rem) * 1);
            border-radius: calc(infinity * 1px);
            border: 1px solid var(--color-gray-100, oklch(0.967 0.003 264.542));
            box-shadow: 0 -25px 50px -12px rgba(243, 244, 246, var(--tw-shadow-alpha, 0.5));

            opacity: calc(100% - var(--progress, 0%) * 1);
            scale: calc(100% - var(--progress, 0%) * 0.2);
            translate: 0 calc(0% + var(--progress, 0%) * 0.1);
        }

        .tabs {
            position: relative;

            width: 100%;
            height: 100%;

            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: calc(var(--spacing, .25rem) * 1);
        }

        .tab {
            overflow: hidden;
            position: relative;
            z-index: 1;

            width: calc(var(--spacing, .25rem) * 20);
            height: 100%;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: calc(var(--spacing, .25rem) * 1);

            font-size: var(--text-2xs, 0.625rem);
            text-overflow: ellipsis;
            white-space: nowrap;

            padding: calc(var(--spacing, .25rem) * 4);
            border-radius: calc(infinity * 1px);

            cursor: pointer;
            transition: all 200ms ease-in-out;

            svg {
                width: calc(var(--spacing, .25rem) * 5);
                height: calc(var(--spacing, .25rem) * 5);
                min-width: calc(var(--spacing, .25rem) * 5);
                min-height: calc(var(--spacing, .25rem) * 5);

                color: var(--color-gray-500, oklch(0.551 0.027 264.364));

                transition: all 200ms ease-in-out;
            }

            &:hover,
            &.active {
                color: var(--color-primary-500, #0074e7);

                svg {
                    color: var(--color-primary-500, #0074e7);
                }
            }

            &:not(:hover) {
                transition: all 600ms ease-in-out;

                svg {
                    transition: all 600ms ease-in-out;
                }
            }

            &:disabled {
                opacity: 0.5;
                cursor: not-allowed;
                pointer-events: none;
            }
        }

        .indicator {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;

            width: var(--indicator-width, calc(var(--spacing, .25rem) * 20));
            height: 100%;

            background-color: var(--color-gray-100, oklch(0.967 0.003 264.542));
            border-radius: calc(infinity * 1px);

            transform: translateX(var(--indicator-offset, 0px));

            transition-property: transform, width;
            transition-duration: 400ms;
            /* +200 ms default delay */
            transition-timing-function: ease-out;
        }

        @media (min-width: 1024px) {
            .tabbar {
                display: none;
            }
        }
    }
}