@layer mosuk-ui {
    @layer index-21 {
        :where(.toggle) {
            --toggle-padding: 0px;
            --toggle-indicator-width: unset;
            --toggle-indicator-translate-x: var(--toggle-padding);
        }

        .toggle {
            overflow-x: auto;

            position: relative;

            width: 100%;
            height: calc(var(--spacing, .25rem) * 8);
            max-width: 100%;

            display: flex;
            flex-direction: row;
            align-items: center;
            gap: calc(var(--spacing, .25rem) * 1);

            padding: var(--toggle-padding);

            border-radius: calc(infinity * 1px);
            border: 1px solid transparent;
            outline: none;

            &::-webkit-scrollbar {
                display: none;
            }

            &:disabled {
                opacity: 50%;
                pointer-events: none;
            }

            .button {
                width: fit-content;
                min-width: fit-content;
                height: 100%;
                max-height: 100%;

                z-index: 1;

                scroll-margin-inline: calc(var(--spacing, .25rem) * 48);

                &:hover,
                &.active {
                    color: var(--color-primary-500, #0074e7);
                }
            }

            .indicator {
                position: absolute;
                left: 0;
                z-index: 0;

                width: var(--toggle-indicator-width);
                height: calc(100% - var(--toggle-padding) * 2);

                background-color: color-mix(in oklab, var(--color-gray-200, oklch(0.928 0.006 264.531)) 50%, transparent);
                backdrop-filter: blur(8px);

                border-radius: calc(infinity * 1px);

                transform: translateX(var(--toggle-indicator-translate-x));
                transition: all 200ms ease-in-out;

                &.loading {
                    transition: all 0ms ease-in-out;
                }

                &.hidden {
                    opacity: 0;
                }
            }
        }
    }
}