@utility textarea-fill-gray-100 {
    background-color: var(--color-gray-100, oklch(0.967 0.003 264.542));
    color: var(--color-gray-700, oklch(0.373 0.034 259.733));

    border: 1px solid transparent;

    &::placeholder {
        color: var(--color-gray-400, oklch(0.707 0.022 261.325));
    }
}

@utility textarea-fill-gray-200 {
    background-color: var(--color-gray-200, oklch(0.928 0.006 264.531));
    color: var(--color-gray-900, oklch(0.21 0.034 264.665));

    border: 1px solid transparent;

    &::placeholder {
        color: var(--color-gray-400, oklch(0.707 0.022 261.325));
    }
}

@utility textarea-fill-gray-300 {
    background-color: var(--color-gray-300, oklch(0.872 0.01 258.338));
    color: var(--color-black, #000);

    border: 1px solid transparent;

    &::placeholder {
        color: var(--color-gray-500, oklch(0.551 0.027 264.364));
    }
}

@utility textarea-fill-gray-400 {
    background-color: var(--color-gray-400, oklch(0.707 0.022 261.325));
    color: var(--color-white, #fff);

    border: 1px solid transparent;

    &::placeholder {
        color: var(--color-gray-500, oklch(0.551 0.027 264.364));
    }
}

@utility textarea-fill-gray-500 {
    background-color: var(--color-gray-500, oklch(0.551 0.027 264.364));
    color: var(--color-white, #fff);

    border: 1px solid transparent;

    &::placeholder {
        color: var(--color-gray-500, oklch(0.551 0.027 264.364));
    }
}

@utility textarea-fill-gray-600 {
    background-color: var(--color-gray-600, oklch(0.446 0.03 256.802));
    color: var(--color-white, #fff);

    border: 1px solid transparent;

    &::placeholder {
        color: var(--color-gray-500, oklch(0.551 0.027 264.364));
    }
}

@utility textarea-fill-red-100 {
    background-color: var(--color-red-100, oklch(0.982 0.018 155.826));
    color: var(--color-red-500, oklch(0.637 0.237 25.331));

    border: 1px solid transparent;

    &::placeholder {
        color: var(--color-gray-400, oklch(0.707 0.022 261.325));
    }
}

@utility textarea-fill-red-200 {
    background-color: var(--color-red-200, oklch(0.962 0.044 156.743));
    color: var(--color-red-700, oklch(0.527 0.154 150.069));

    border: 1px solid transparent;

    &::placeholder {
        color: var(--color-gray-400, oklch(0.707 0.022 261.325));
    }
}

@utility textarea-fill-red-300 {
    background-color: var(--color-red-300, oklch(0.925 0.084 155.995));
    color: var(--color-red-900, oklch(0.393 0.095 152.535));

    border: 1px solid transparent;

    &::placeholder {
        color: var(--color-gray-500, oklch(0.551 0.027 264.364));
    }
}

@utility textarea-fill-red-400 {
    background-color: var(--color-red-400, oklch(0.871 0.15 154.449));
    color: var(--color-white, #fff);

    border: 1px solid transparent;

    &::placeholder {
        color: var(--color-gray-500, oklch(0.551 0.027 264.364));
    }
}

@utility textarea-fill-red-500 {
    background-color: var(--color-red-500, oklch(0.814 0.167 152.444));
    color: var(--color-white, #fff);

    border: 1px solid transparent;

    &::placeholder {
        color: var(--color-gray-500, oklch(0.551 0.027 264.364));
    }
}

@utility textarea-fill-red-600 {
    background-color: var(--color-red-600, oklch(0.745 0.134 151.244));
    color: var(--color-white, #fff);

    border: 1px solid transparent;

    &::placeholder {
        color: var(--color-gray-500, oklch(0.551 0.027 264.364));
    }
}

@utility textarea-fill-orange-100 {
    background-color: var(--color-orange-100, oklch(0.973 0.071 103.193));
    color: var(--color-orange-500, oklch(0.705 0.213 47.604));

    border: 1px solid transparent;

    &::placeholder {
        color: var(--color-gray-400, oklch(0.707 0.022 261.325));
    }
}

@utility textarea-fill-orange-200 {
    background-color: var(--color-orange-200, oklch(0.945 0.129 101.54));
    color: var(--color-orange-700, oklch(0.554 0.135 66.442));

    border: 1px solid transparent;

    &::placeholder {
        color: var(--color-gray-400, oklch(0.707 0.022 261.325));
    }
}

@utility textarea-fill-orange-300 {
    background-color: var(--color-orange-300, oklch(0.905 0.182 98.111));
    color: var(--color-orange-900, oklch(0.421 0.095 57.708));

    border: 1px solid transparent;

    &::placeholder {
        color: var(--color-gray-500, oklch(0.551 0.027 264.364));
    }
}

@utility textarea-fill-orange-400 {
    background-color: var(--color-orange-400, oklch(0.852 0.199 91.936));
    color: var(--color-white, #fff);

    border: 1px solid transparent;

    &::placeholder {
        color: var(--color-gray-500, oklch(0.551 0.027 264.364));
    }
}

@utility textarea-fill-orange-500 {
    background-color: var(--color-orange-500, oklch(0.795 0.184 86.047));
    color: var(--color-white, #fff);

    border: 1px solid transparent;

    &::placeholder {
        color: var(--color-gray-500, oklch(0.551 0.027 264.364));
    }
}

@utility textarea-fill-orange-600 {
    background-color: var(--color-orange-600, oklch(0.681 0.162 75.834));
    color: var(--color-white, #fff);

    border: 1px solid transparent;

    &::placeholder {
        color: var(--color-gray-500, oklch(0.551 0.027 264.364));
    }
}

@utility textarea-fill-yellow-100 {
    background-color: var(--color-yellow-100, oklch(0.973 0.071 103.193));
    color: var(--color-yellow-500, oklch(0.795 0.184 86.047));

    border: 1px solid transparent;

    &::placeholder {
        color: var(--color-gray-400, oklch(0.707 0.022 261.325));
    }
}

@utility textarea-fill-yellow-200 {
    background-color: var(--color-yellow-200, oklch(0.945 0.129 101.54));
    color: var(--color-yellow-700, oklch(0.554 0.135 66.442));

    border: 1px solid transparent;

    &::placeholder {
        color: var(--color-gray-400, oklch(0.707 0.022 261.325));
    }
}

@utility textarea-fill-yellow-300 {
    background-color: var(--color-yellow-300, oklch(0.905 0.182 98.111));
    color: var(--color-yellow-900, oklch(0.421 0.095 57.708));

    border: 1px solid transparent;

    &::placeholder {
        color: var(--color-gray-500, oklch(0.551 0.027 264.364));
    }
}

@utility textarea-fill-yellow-400 {
    background-color: var(--color-yellow-400, oklch(0.852 0.199 91.936));
    color: var(--color-white, #fff);

    border: 1px solid transparent;

    &::placeholder {
        color: var(--color-gray-500, oklch(0.551 0.027 264.364));
    }
}

@utility textarea-fill-yellow-500 {
    background-color: var(--color-yellow-500, oklch(0.795 0.184 86.047));
    color: var(--color-white, #fff);

    border: 1px solid transparent;

    &::placeholder {
        color: var(--color-gray-500, oklch(0.551 0.027 264.364));
    }
}

@utility textarea-fill-yellow-600 {
    background-color: var(--color-yellow-600, oklch(0.681 0.162 75.834));
    color: var(--color-white, #fff);

    border: 1px solid transparent;

    &::placeholder {
        color: var(--color-gray-500, oklch(0.551 0.027 264.364));
    }
}

@utility textarea-fill-green-100 {
    background-color: var(--color-green-100, oklch(0.982 0.018 155.826));
    color: var(--color-green-500, oklch(0.637 0.237 25.331));

    border: 1px solid transparent;

    &::placeholder {
        color: var(--color-gray-400, oklch(0.707 0.022 261.325));
    }
}

@utility textarea-fill-green-200 {
    background-color: var(--color-green-200, oklch(0.962 0.044 156.743));
    color: var(--color-green-700, oklch(0.527 0.154 150.069));

    border: 1px solid transparent;

    &::placeholder {
        color: var(--color-gray-400, oklch(0.707 0.022 261.325));
    }
}

@utility textarea-fill-green-300 {
    background-color: var(--color-green-300, oklch(0.925 0.084 155.995));
    color: var(--color-green-900, oklch(0.393 0.095 152.535));

    border: 1px solid transparent;

    &::placeholder {
        color: var(--color-gray-500, oklch(0.551 0.027 264.364));
    }
}

@utility textarea-fill-green-400 {
    background-color: var(--color-green-400, oklch(0.871 0.15 154.449));
    color: var(--color-white, #fff);

    border: 1px solid transparent;

    &::placeholder {
        color: var(--color-gray-500, oklch(0.551 0.027 264.364));
    }
}

@utility textarea-fill-green-500 {
    background-color: var(--color-green-500, oklch(0.814 0.167 152.444));
    color: var(--color-white, #fff);

    border: 1px solid transparent;

    &::placeholder {
        color: var(--color-gray-500, oklch(0.551 0.027 264.364));
    }
}

@utility textarea-fill-green-600 {
    background-color: var(--color-green-600, oklch(0.745 0.134 151.244));
    color: var(--color-white, #fff);

    border: 1px solid transparent;

    &::placeholder {
        color: var(--color-gray-500, oklch(0.551 0.027 264.364));
    }
}

@utility textarea-fill-primary-100 {
    background-color: var(--color-primary-100, oklch(0.967 0.003 264.542));
    color: var(--color-primary-500, oklch(0.637 0.237 25.331));

    border: 1px solid transparent;

    &::placeholder {
        color: var(--color-gray-400, oklch(0.707 0.022 261.325));
    }
}

@utility textarea-fill-primary-200 {
    background-color: var(--color-primary-200, oklch(0.928 0.006 264.531));
    color: var(--color-primary-700, oklch(0.527 0.154 150.069));

    border: 1px solid transparent;

    &::placeholder {
        color: var(--color-gray-400, oklch(0.707 0.022 261.325));
    }
}

@utility textarea-fill-primary-300 {
    background-color: var(--color-primary-300, oklch(0.872 0.01 258.338));
    color: var(--color-primary-900, oklch(0.393 0.095 152.535));

    border: 1px solid transparent;

    &::placeholder {
        color: var(--color-gray-500, oklch(0.551 0.027 264.364));
    }
}

@utility textarea-fill-primary-400 {
    background-color: var(--color-primary-400, oklch(0.707 0.022 261.325));
    color: var(--color-white, #fff);

    border: 1px solid transparent;

    &::placeholder {
        color: var(--color-gray-500, oklch(0.551 0.027 264.364));
    }
}

@utility textarea-fill-primary-500 {
    background-color: var(--color-primary-500, oklch(0.551 0.027 264.364));
    color: var(--color-white, #fff);

    border: 1px solid transparent;

    &::placeholder {
        color: var(--color-gray-500, oklch(0.551 0.027 264.364));
    }
}

@utility textarea-fill-primary-600 {
    background-color: var(--color-primary-600, oklch(0.446 0.03 256.802));
    color: var(--color-white, #fff);

    border: 1px solid transparent;

    &::placeholder {
        color: var(--color-gray-500, oklch(0.551 0.027 264.364));
    }
}