@layer mosuk-ui {
    @layer index-15 {
        .yandex_map {
            overflow: hidden;

            width: 100%;
            height: calc(var(--spacing, .25rem) * 100);

            .yandex_map_default_scheme_layer {
                width: 100%;
                height: 100%;

                color: var(--color-gray-200, oklch(0.928 0.006 264.531));

                svg {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}