@layer mosuk-ui {
    @layer index-12 {
        .h4 {
            font-size: var(--text-sm, 0.875rem);
            font-weight: 500;
            line-height: var(--leading-relaxed, 1.625);

            transition: all 200ms ease-in-out;

            &:not(:hover) {
                transition: all 600ms ease-in-out;
            }
        }
    }
}