@layer mosuk-ui {
    @layer index-11 {
        .input {
            appearance: none;

            width: 100%;

            display: block;

            color: var(--color-black, #000);
            font-size: var(--text-base, 1rem);

            border: 1px solid transparent;
            outline: none;

            transition: all 200ms ease-in-out;

            &::placeholder {
                color: var(--color-gray-500, oklch(0.551 0.027 264.364));
            }

            &:read-only {
                opacity: 50%;
                pointer-events: none;
            }
        }
    }
}