@layer mosuk-ui {
    @layer actions {
        @layer layer-2 {
            .button {

                /* ? Наведение */
                &:hover {
                    background-color: var(--color-gray-100, oklch(0.967 0.003 264.542));
                    color: var(--color-red-500, oklch(0.637 0.237 25.331));

                    & svg {
                        color: var(--color-red-500, oklch(0.637 0.237 25.331));
                    }
                }

                /* ? Подтверждение удаления */
                &.danger {
                    background-color: var(--color-red-100, oklch(0.936 0.032 17.717));
                    color: var(--color-red-500, oklch(0.637 0.237 25.331));

                    & svg {
                        color: var(--color-red-500, oklch(0.637 0.237 25.331));
                    }

                    &:hover {
                        background-color: var(--color-red-200, oklch(0.936 0.032 17.717));
                        color: var(--color-red-700, oklch(0.527 0.154 150.069));

                        & svg {
                            color: var(--color-red-700, oklch(0.527 0.154 150.069));
                        }
                    }
                }
            }
        }
    }
}