@layer mosuk-ui {
    @layer index-10 {
        .alerts {
            position: fixed;
            top: auto;
            left: calc(var(--spacing, .25rem) * 2);
            right: calc(var(--spacing, .25rem) * 2);
            bottom: calc(var(--spacing, .25rem) * 2);
            z-index: 300;

            width: 100%;
            max-width: calc(100% - (var(--spacing, .25rem) * 4));
            min-width: calc(100% - (var(--spacing, .25rem) * 4));
        }

        .alert {
            --gap: 0.75rem;
            --offset-y: calc(var(--toast-offset-y) * -1 + (var(--toast-index) * var(--gap) * -1) + var(--toast-swipe-movement-y));

            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: calc(1000 - var(--toast-index));

            width: 100%;

            display: flex;
            flex-direction: row;
            align-items: start;
            justify-content: start;
            gap: calc(var(--spacing, .25rem) * 2);

            background-color: color-mix(in oklab, var(--color-white) 50%, transparent);
            backdrop-filter: blur(8px);

            padding: calc(var(--spacing, 0.25rem) * 3);

            border: none;
            border-radius: var(--radius-xl, 1rem);
            box-shadow: var(--inset-shadow-sm, inset 0 2px 4px color-mix(in oklab, var(--color-gray-300) 50%, transparent));

            -webkit-user-select: none;
            user-select: none;

            transition: transform 0.5s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.5s;
            cursor: default;
            transform: translateX(var(--toast-swipe-movement-x)) translateY(calc(var(--toast-swipe-movement-y) + (var(--toast-index) * -20%))) scale(calc(1 - (var(--toast-index) * 0.1)));

            /* ? Animation */
            &::after {
                top: 100%;
            }

            &[data-expanded] {
                transform: translateX(var(--toast-swipe-movement-x)) translateY(var(--offset-y));
            }

            &[data-starting-style],
            &[data-ending-style] {
                transform: translateY(150%);
            }

            &[data-limited] {
                opacity: 0;
            }

            &[data-ending-style] {
                opacity: 0;

                &[data-swipe-direction='up'] {
                    transform: translateY(calc(var(--toast-swipe-movement-y) - 0%));
                }

                &[data-swipe-direction='left'] {
                    transform: translateX(calc(var(--toast-swipe-movement-x) - 150%)) translateY(var(--offset-y));
                }

                &[data-swipe-direction='right'] {
                    transform: translateX(calc(var(--toast-swipe-movement-x) + 150%)) translateY(var(--offset-y));
                }

                &[data-swipe-direction='down'] {
                    transform: translateY(calc(var(--toast-swipe-movement-y) + 150%));
                }
            }

            &::after {
                content: '';

                position: absolute;
                left: 0;

                width: 100%;
                height: calc(var(--gap) + 1px);
            }

            &:not(:hover) {
                transition: all 400ms ease-in-out;
            }

            &:hover {
                transition: all 200ms ease-in-out;
            }
        }

        @media (min-width: 468px) {
            .alerts {
                position: fixed;
                top: auto;
                left: calc(var(--spacing, .25rem) * 4);
                right: calc(var(--spacing, .25rem) * 4);
                bottom: calc(var(--spacing, .25rem) * 4);
                z-index: 300;

                width: 100%;
                max-width: calc(100% - (var(--spacing, .25rem) * 8));
                min-width: calc(100% - (var(--spacing, .25rem) * 8));
            }

            .alert {
                width: calc((var(--spacing, .25rem) * 88));

                padding: calc(var(--spacing, 0.25rem) * 4);
                margin-left: auto;

                &:hover {
                    scale: 101%;
                }
            }
        }
    }

    @layer index-20 {
        .hint {
            color: var(--color-black, #000000);
        }
    }
}