@layer mosuk-ui {
    @layer index-11 {
        .input {
            width: 100%;
            height: calc(var(--spacing, .25rem) * 8);
            min-height: calc(var(--spacing, .25rem) * 8);

            border-radius: calc(infinity * 1px);
        }
    }
}