@layer mosuk-ui {
    @layer index-10 {
        .p {
            display: block;

            font-size: var(--text-sm, 0.875rem);
            font-weight: 400;
            text-align: start;
            line-height: var(--leading-relaxed, 1.625);

            cursor: text;

            transition: all 200ms ease-in-out;

            &:not(:hover) {
                transition: all 600ms ease-in-out;
            }

            &:has(.icon) {
                line-height: 0;

                .text {
                    display: inline-flex;

                    width: auto;
                    max-width: calc(100% - calc(var(--spacing, .25rem) * 7) - calc(var(--spacing, .25rem) * 2));

                    line-height: var(--leading-relaxed, 1.625);
                    vertical-align: top;

                    margin-top: 0.20em;
                    margin-left: calc(var(--spacing, .25rem) * 2);
                }
            }
        }
    }

    @layer index-20 {
        .p {
            &:has(.icon) {
                .icon {
                    display: inline-flex;

                    width: calc(var(--spacing, .25rem) * 7);
                    height: calc(var(--spacing, .25rem) * 7);
                    min-width: calc(var(--spacing, .25rem) * 7);
                    min-height: calc(var(--spacing, .25rem) * 7);
                    font-size: var(--text-base, 1rem);

                    padding: calc(var(--spacing, .25rem) * 2);

                    cursor: default;
                }
            }
        }
    }
}