@layer mosuk-ui {
    @layer index-21 {
        .button {
            cursor: pointer;

            &:disabled {
                opacity: 1;

                cursor: default;
                pointer-events: none;
            }
        }

        .list {
            display: flex;
            flex-direction: column;
            gap: calc(var(--spacing, .25rem) * 1);

            .listButton {
                width: 100%;

                cursor: pointer;
            }
        }
    }
}