@utility input-glass-transparent {
    background-color: color-mix(in oklab, var(--color-white) 0%, transparent);
    backdrop-filter: blur(8px);
    color: var(--color-black);

    border: none;
    box-shadow: var(--inset-shadow-sm, inset 0 1px 4px color-mix(in oklab, var(--color-gray-500) 20%, transparent));

    &::placeholder {
        color: var(--color-gray-500);
    }
}

@utility input-glass-gray-100 {
    background-color: color-mix(in oklab, var(--color-gray-100) 50%, transparent);
    backdrop-filter: blur(8px);
    color: var(--color-gray-700);

    border: none;
    box-shadow: var(--inset-shadow-sm, inset 0 2px 4px color-mix(in oklab, var(--color-gray-300) 50%, transparent));

    &::placeholder {
        color: var(--color-gray-400);
    }
}

@utility input-glass-gray-200 {
    background-color: color-mix(in oklab, var(--color-gray-200) 50%, transparent);
    backdrop-filter: blur(8px);
    color: var(--color-gray-900);

    border: none;
    box-shadow: var(--inset-shadow-sm, inset 0 2px 4px color-mix(in oklab, var(--color-gray-300) 50%, transparent));

    &::placeholder {
        color: var(--color-gray-400);
    }
}

@utility input-glass-gray-300 {
    background-color: color-mix(in oklab, var(--color-gray-300) 50%, transparent);
    backdrop-filter: blur(8px);
    color: var(--color-black);

    border: none;
    box-shadow: var(--inset-shadow-sm, inset 0 2px 4px color-mix(in oklab, var(--color-gray-400) 50%, transparent));

    &::placeholder {
        color: var(--color-gray-500);
    }
}

@utility input-glass-primary-100 {
    background-color: color-mix(in oklab, var(--color-primary-100) 50%, transparent);
    backdrop-filter: blur(8px);
    color: var(--color-primary-500);

    border: none;
    box-shadow: var(--inset-shadow-sm, inset 0 2px 4px color-mix(in oklab, var(--color-primary-300) 50%, transparent));

    &::placeholder {
        color: var(--color-gray-500);
    }
}

@utility input-glass-primary-200 {
    background-color: color-mix(in oklab, var(--color-primary-200) 50%, transparent);
    backdrop-filter: blur(8px);
    color: var(--color-primary-500);

    border: none;
    box-shadow: var(--inset-shadow-sm, inset 0 2px 4px color-mix(in oklab, var(--color-primary-300) 50%, transparent));

    &::placeholder {
        color: var(--color-gray-500);
    }
}