@layer mosuk-ui {
    @layer index-17 {
        .trigger {
            cursor: pointer;
        }

        .content {
            width: fit-content;

            padding: calc(var(--spacing, 0.25rem) * 1);

            background-color: rgba(255, 255, 255, 0.95);
            backdrop-filter: blur(12px);

            border: 1px solid var(--color-gray-100, oklch(0.967 0.003 264.542));
            border-radius: calc(var(--spacing, 0.25rem) * 5);
            box-shadow: 0 25px 50px -12px rgba(243, 244, 246, var(--tw-shadow-alpha, 0.5));

            transform-origin: var(--transform-origin);
            transition: transform 200ms, opacity 200ms;

            &[data-starting-style],
            &[data-ending-style] {
                opacity: 0;
                transform: scale(0.9);
            }
        }
    }
}
