@layer mosuk-ui {
    @layer index-12 {
        .card {
            overflow: hidden;

            display: block;

            width: 100%;
            height: fit-content;

            background-color: rgba(255, 255, 255, 0.95);
            backdrop-filter: blur(12px);

            padding: calc(var(--spacing, 0.25rem) * 4);
            border: 1px solid var(--color-gray-100, oklch(.967 .003 264.542));
            border-radius: var(--radius-2xl, 1rem);
            outline: none;

            transition: all 200ms ease-in-out;
        }
    }
}