@layer mosuk-ui {
    @layer index-17 {
        :root {
            --bleed: calc(var(--spacing, 0.25rem) * 24);
        }

        .viewport {
            position: fixed;
            inset: 0;
            z-index: 200;

            touch-action: none;

            .backdrop {
                position: fixed;
                inset: 0;

                width: 100%;
                min-height: 100dvh;

                background-color: rgba(0, 0, 0, calc((1 - var(--drawer-swipe-progress, 0)) * 0.1));
                backdrop-filter: blur(calc((1 - var(--drawer-swipe-progress, 0)) * 2px));

                transition-duration: 200ms;
                transition-property: background-color, backdrop-filter;
                transition-timing-function: cubic-bezier(0.32, 0.72, 0, 1);

                &[data-starting-style],
                &[data-ending-style] {
                    background-color: rgba(0, 0, 0, 0);
                    backdrop-filter: blur(0);
                }

                &[data-swiping] {
                    transition-duration: 0ms;
                }

                &[data-ending-style] {
                    transition-duration: calc(var(--drawer-swipe-strength) * 200ms);
                }
            }

            .popup {
                overflow: hidden;

                background-color: var(--color-white);
                outline: none;

                box-shadow: 0 25px 50px -12px rgba(249, 250, 251, var(--tw-shadow-alpha, 0.5));

                will-change: transform;
                transition: transform 400ms cubic-bezier(0.32, 0.72, 0, 1);

                &[data-swiping] {
                    user-select: none;
                }

                &[data-ending-style] {
                    transition-duration: calc(var(--drawer-swipe-strength) * 400ms);
                }

                .handle {
                    position: fixed;
                    z-index: 10;

                    background-color: color-mix(in oklab, var(--color-gray-400) 50%, transparent);
                    backdrop-filter: blur(4px);

                    border-radius: calc(infinity * 1px);

                    transition-duration: 200ms;

                    &:not(:hover) {
                        transition-duration: 600ms;
                    }
                }

                .content {
                    overflow-y: auto;
                    touch-action: auto;

                    width: 100%;
                    height: var(--drawer-frontmost-height, 100%);

                    padding: calc(var(--spacing, 0.25rem) * 3);

                    &::-webkit-scrollbar {
                        display: none;
                        width: 0;
                        height: 0;
                    }
                }
            }
        }

        /* swipeDirection styles */

        .viewport {
            &:has(.popup[data-swipe-direction='down']) {
                display: flex;
                align-items: flex-end;
                justify-content: center;
            }

            &:has(.popup[data-swipe-direction='left']) {
                display: flex;
                justify-content: flex-start;
            }

            &:has(.popup[data-swipe-direction='right']) {
                display: flex;
                justify-content: flex-end;
            }

            .popup {
                &[data-swipe-direction='down'] {
                    width: 100%;
                    height: fit-content;
                    max-width: var(--container-lg, 512px);
                    max-height: calc(100dvh - var(--bleed));

                    border-top-left-radius: var(--radius-3xl, 1.5rem);
                    border-top-right-radius: var(--radius-3xl, 1.5rem);

                    transform: translateY(var(--drawer-swipe-movement-y));

                    &[data-starting-style],
                    &[data-ending-style] {
                        transform: translateY(100%);
                    }

                    .handle {
                        top: calc(var(--spacing, 0.25rem) * 2);
                        left: 0;
                        right: 0;
                        bottom: auto;

                        width: calc(var(--spacing, 0.25rem) * 24);
                        height: calc(var(--spacing, 0.25rem) * 1);

                        margin-inline: auto;
                    }

                    &:has(.handle) {
                        .content {
                            padding-top: calc(var(--spacing, 0.25rem) * 8);
                        }
                    }
                }

                &[data-swipe-direction='left'] {
                    width: var(--container-lg, 512px);
                    height: 100%;
                    max-width: calc(100vw - var(--bleed));
                    max-height: 100%;

                    transform: translateX(var(--drawer-swipe-movement-x) * -1);

                    &[data-starting-style],
                    &[data-ending-style] {
                        transform: translateX(-100%);
                    }

                    .handle {
                        top: 0;
                        left: auto;
                        right: calc(var(--spacing, 0.25rem) * 2);
                        bottom: 0;

                        width: calc(var(--spacing, 0.25rem) * 1);
                        height: calc(var(--spacing, 0.25rem) * 24);

                        margin: auto 0;
                    }

                    &:has(.handle) {
                        .content {
                            padding-right: calc(var(--spacing, 0.25rem) * 8);
                        }
                    }
                }

                &[data-swipe-direction='right'] {
                    width: var(--container-lg, 512px);
                    height: 100%;
                    max-width: calc(100vw - var(--bleed));
                    max-height: 100%;

                    transform: translateX(var(--drawer-swipe-movement-x));

                    &[data-starting-style],
                    &[data-ending-style] {
                        transform: translateX(100%);
                    }

                    .handle {
                        top: 0;
                        left: calc(var(--spacing, 0.25rem) * 2);
                        right: auto;
                        bottom: 0;

                        width: calc(var(--spacing, 0.25rem) * 1);
                        height: calc(var(--spacing, 0.25rem) * 24);

                        margin: auto 0;
                    }

                    &:has(.handle) {
                        .content {
                            padding-left: calc(var(--spacing, 0.25rem) * 8);
                        }
                    }
                }
            }
        }
    }
}