@layer mosuk-ui {
    @layer integrations {
        @layer layer-1 {
            .yandexMaps {
                overflow: hidden;

                width: 100%;
                height: calc(var(--spacing, .25rem) * 100);
            }
        }
    }
}