@layer mosuk-ui {
    @layer index-11 {
        .otp {
            display: flex;
            gap: calc(var(--spacing, .25rem) * 2);
            width: 100%;
        }

        .slot {
            width: calc(var(--spacing, .25rem) * 10);
            height: calc(var(--spacing, .25rem) * 10);
            min-width: calc(var(--spacing, .25rem) * 10);
            min-height: calc(var(--spacing, .25rem) * 10);

            border-radius: calc(var(--spacing, .25rem) * 2);
        }
    }
}
