@layer mosuk-ui {
    @layer index-12 {
        .list {
            display: flex;
            flex-direction: column;
            gap: calc(var(--spacing, 0.25rem) * 2);

            .dl {
                position: relative;

                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-between;
                gap: calc(var(--spacing, 0.25rem) * 2);

                .dt {
                    width: 100%;
                    height: 1.125em;
                    min-height: 1.125em;

                    border-radius: calc(infinity * 1px);
                }

                .dd {
                    width: 100%;
                    height: 1.125em;
                    min-height: 1.125em;

                    border-radius: calc(infinity * 1px);
                }

                &:nth-child(1n) {
                    .dt {
                        width: 25%;
                    }

                    .dd {
                        width: 33.333333%;
                    }
                }

                &:nth-child(2n) {
                    .dt {
                        width: 16.666667%;
                    }

                    .dd {
                        width: 25%;
                    }
                }

                &:nth-child(3n) {
                    .dt {
                        width: 33.333333%;
                    }

                    .dd {
                        width: 41.666667%;
                    }
                }

                &:nth-child(4n) {
                    .dt {
                        width: 25%;
                    }

                    .dd {
                        width: 33.333333%;
                    }
                }

                &:nth-child(5n) {
                    .dt {
                        width: 41.666667%;
                    }

                    .dd {
                        width: 25%;
                    }
                }
            }
        }
    }
}