@layer mosuk-ui {
    @layer index-13 {
        .article {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: calc(var(--spacing, .25rem) * 4);
        }
    }
}